@use '../abstracts/' as *;

/**
  	* flat title page
	* flat blog
  	* flat subscribe
	* flat Blog details
	* Blog category list 
	* flat icon 
	* flat about
    * flat vegetables
    * flat tabs 
    * flat sale
    * flat organic 
*/

/* Page Title Inner
-------------------------------------------------------------- */
.flat-title-page { 
    &.inner {
        padding: 176px 0 62px 0px;
        position       : relative;
        background-image: url(../../assets/images/section/img-page-inner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    
    .page-title-heading {
        margin-top: 77px;
        margin-right: 67px;
        position: relative;
        box-shadow: 10px 10px 0 black;
        background: $color-3;
        padding: 50px 15px 51px 60px;
        
        .heading {
            color      : $color-1;
            margin-bottom: 25px; 
            line-height: 66px;
            font-size: 55px;
            font-weight: 600;
            letter-spacing: -1px;
            
            span {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom: 5px;
                    left: 0;
                    background: $color-1;
                }
            }
           
        }
    }
    .images {
        text-align: end;
        margin-top: -6px;
        margin-right: -6px;
    }
}

.overlay {
    background: #000000;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-inner h5 {
    >a {
        position: relative;
        display: inline-block;
        &::after {
            content: "\f054";
            font-family: 'Font Awesome 5 Pro';
            color      : $color-1;
            font-size: 12px;
            line-height: normal;
            top: 5px;
            margin: 0 15.5px 0 13.5px;
        }
    }
    >span {
        color      : $color-1;
    }
}

.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1440px;
    max-width    : 100%;
} 

.themes-container2 {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1750px;
    max-width    : 100%;
}

.tf-section2 {
    padding: 104px 0 110px;
    @include transition3;
    position     : relative;
}

.tf-section {
    padding: 130px 0;
    @include transition3;
    position     : relative;
}


/* flat Blog
--------------------------------------------------*/
.flat-blog {
    .post {
        padding-right: 82px;
    }
    .blog-box {
        background: $bg-color;
        padding: 81px 50px 51px 51px;
        @include transition3;
        margin-bottom: 60.5px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            box-shadow: 7px 7px 0 $color-3;
            margin-right: 7px;
        }
        
        .media {
            position: relative;
            margin-top: 14px;
            img {
                box-shadow: -39px -45px 0 $color-6;
            }
        }
        .content {
            position: relative;
            // padding: 24px 29px 25px 30px;
            margin-right: 15px;
            flex: none;
            width: 50%;
            .days {
                margin-bottom: 12px;
                &::before {
                    content: "\f272";
                    font-family: "Font Awesome 5 Pro";
                    font-size: 18px;
                    margin-right: 10px;
                    font-weight: 300;
                }
            }
            .titles {
                font-size: 35px;
                line-height: 44px;
                font-weight: 600;
                letter-spacing: -0.7px;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 22px;
            }
          

        }  
    }
}

.meta {
    .btn-button {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        @include transition3;
        text-decoration: underline;
        &:hover {
            color: $color-3;
            svg {
                animation: 0.3s link-icon linear;
                path {
                    fill: $color-3;
                    
                }
            }
        }
        svg {
            margin-left: 13px;
            path {
                @include transition3
            }
        }
    }
    
  
    .comment {
        font-size: 18px;
        line-height: 28px;
        &::before {
            content: "\f086";
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            font-weight: 500;
            margin-right: 9px;
            margin-top: -2px;
        }
    }
}

//flat subscribe
.flat-subscribe {
    padding: 54px 0;
    background-color: $color-3;
    margin: 0 62px;
    .heading-section {
        margin-bottom: 50px;
    }
    .wrap-subscribe {
        padding-right: 80px;
    }
}

/* flat Blog details
-------------------------------------------------------------- */
.flat-blog-details {
    .post {
        .text-1 {
            padding-right: 30px;
            margin-bottom: 32px;
        }
        .box-text {
            padding-right: 7px;
            margin-bottom: 38px;
            &.style {
                margin-bottom: 68px;
            }
            &.style2 {
                margin-bottom: 32px;
                padding-bottom: 37px;
                border-bottom: 1px solid #ecedeb;
            }
        }
        .text-2 {
            margin-bottom: 26px;
        }
        .image-one {
            margin-bottom: 34px;
        }

        .quote-details {
            background-color: $bg-color;
            padding: 54px 50px 24px;
            border: 5px;
            position: relative;
            margin-bottom: 34px;
            .icon {
                border-radius: 50%;
                width: 60px;
                height: 60px;
                @include flex-center;
                background-color: $color-1;
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0px 16px 16px rgb(0 0 0 / 8%);
            }
        }
        .box-item {
            margin-bottom: 48px;
            .tags {
                margin-top: -4px;
                .title-tag {                 
                    margin-right: 20px;       
                }
                a {             
                    margin-right: 3px;
                    &::after {
                       content: ","; 
                    }
                    &:last-child {
                        &::after {
                            content: unset;
                        }
                    }
                }
            }
            .share {
                margin-top: 4px;
                .title-share {
                    margin-right: 17px;
                }
                a {
                    margin-right: 16px;
                    i {
                        font-size: 16px;
                    }
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

#comments {
    .title-comment {
        letter-spacing: -0.2px;
        margin-bottom: 35px;
    }
    .comment-list {
        margin-bottom: 56px;
        .comment-01 {
            margin-bottom: 40px;
            padding: 29px 29px 26px;
            border: 1px solid #e0e0e0;
            &:last-child {
                margin: 0;
            }
            .comment-avatar {
                margin-bottom: 24px;
                .images {
                    flex: none;
                    margin-right: 20px;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }
                .author {
                    h4 {
                        margin-bottom: 1px;
                    }
                }
                .reply {
                    font-size: 18px;
                    font-weight: 600;
                    padding: 5px 23px;
                    border-radius: 25px;
                    color: $color-1;
                    background: $color-6;
                    display: inline-block;
                    @include transition3;
                    &:hover {
                        background: $color-3;
                    }
                }
            }
            .comment-content {
                .comment-text {
                    p {
                        letter-spacing: -0.08px;
                        padding-right: 42px;
                    }
                }           
            }
        }
    }
    .title-comment2 {
        letter-spacing: -0.2px;
        margin-bottom: 28px;
    }
    .respond-comment {
        h2 {
            margin-bottom: 24px;
        }
    }
    .comment-form {
        fieldset {
            position     : relative;
            overflow     : hidden;
            width        : 100%;
            margin-bottom: 20px;
            &:nth-child(3) {
                margin-bottom: 10px;
            }
            &.email-wrap {
                padding-left: 10px;
            }
            &.name-wrap {
                padding-right: 10px;
            }
           
            input {
                background-color: $bg-color;
                border: 1px solid $bg-color;
                padding: 13px 14px 11px 21px;
                border-radius: 5px;            
                color: $color-2;
                font-family: $font-2;
                &::placeholder {
                    color: $color-4;
                    line-height: 26px;
                    font-size: 16px;
                    font-family: $font-2;
                }
                &:focus {
                    border: 1px solid $color-6;
                }  
            }
            textarea  {
                padding: 14px 15px 18px 19px;
                background-color: $bg-color;
                border: 1px solid $bg-color;
                border-radius: 5px;
                color: $color-2;
                font-family: $font-2;
                &::placeholder {
                    color: $color-4;
                    line-height: 26px;
                    font-size: 16px;
                    font-family: $font-2;
                }
                &:focus {
                    border: 1px solid $color-6;
                }  
            }            
        }
        .style-text {
            width: 50%;
            float: left;
        }
        button {
            width: 172px;
            line-height: 54px;
        }
    }
}


//flat video
.flat-video {
    padding-top: 144px;
    padding-bottom: 150px;
    background: url(./../../assets/images/section/bg-video.jpg)  center center no-repeat;
    background-size: cover;
    position: relative;
    &.page {
        background: url(./../../assets/images/section/bg-video-page.jpg)  center center no-repeat;
        background-size: cover;
        border-radius: 5px;
        padding-bottom: 151px;
        .overlay {
            border-radius: 5px;
        }
        .heading-section {
            margin-bottom: 13px;
        }
    }
}

.flat-video-page {
    padding-bottom: 104px;
}

// video
.post-video {
    a {
        position: relative;
        width: 76px;
        height: 76px;
        background: $color-1;
        border-radius: 50%;
        text-align: center;
        @include flex-center;
        padding-left: 5px;
        i {
            font-size: 25px;
            color: $color-6;
            @include transition3;
        }
        &:hover {
            background: $color-3;
            i {
                color: $color-1;
            }
        }
    }
}

.ripple::before,
.ripple::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.04);
    -o-box-shadow: 0 0px 0 0px rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 0px 30px rgb(255 255 255 / 10%);
    -webkit-animation: ripple 2s infinite;
    animation: ripple 2s infinite;
}

.ripple::before {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ripple::after {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

