@use '../abstracts/' as *;

/**
  	* flat title page
	* flat blog
  	* flat subscribe
	* flat Blog details
	* Blog category list 
	* flat icon 
	* flat about
    * flat vegetables
    * flat tabs 
    * flat sale
    * flat organic 
*/

/* Page Title Inner
-------------------------------------------------------------- */
.flat-title-page { 
    &.inner {
        padding: 176px 0 62px 0px;
        position       : relative;
        background-image: url(../../assets/images/section/img-page-inner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    
    .page-title-heading {
        margin-top: 77px;
        margin-right: 67px;
        position: relative;
        box-shadow: 10px 10px 0 black;
        background: $color-3;
        padding: 50px 15px 51px 60px;
        
        .heading {
            color      : $color-1;
            margin-bottom: 25px; 
            line-height: 66px;
            font-size: 55px;
            font-weight: 600;
            letter-spacing: -1px;
            
            span {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom: 5px;
                    left: 0;
                    background: $color-1;
                }
            }
           
        }
    }
    .images {
        text-align: end;
        margin-top: -6px;
        margin-right: -6px;
    }
}

.overlay {
    background: #000000;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-inner h5 {
    >a {
        position: relative;
        display: inline-block;
        &::after {
            content: "\f054";
            font-family: 'Font Awesome 5 Pro';
            color      : $color-1;
            font-size: 12px;
            line-height: normal;
            top: 5px;
            margin: 0 15.5px 0 13.5px;
        }
    }
    >span {
        color      : $color-1;
    }
}

.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1440px;
    max-width    : 100%;
} 

.themes-container2 {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1750px;
    max-width    : 100%;
}

.tf-section2 {
    padding: 104px 0 110px;
    @include transition3;
    position     : relative;
}

.tf-section {
    padding: 130px 0;
    @include transition3;
    position     : relative;
}


/* flat Blog
--------------------------------------------------*/
.flat-blog {
    .post {
        padding-right: 82px;
    }
    .blog-box {
        background: $bg-color;
        padding: 81px 50px 51px 51px;
        @include transition3;
        margin-bottom: 60.5px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            box-shadow: 7px 7px 0 $color-3;
            margin-right: 7px;
        }
        
        .media {
            position: relative;
            margin-top: 14px;
            img {
                box-shadow: -39px -45px 0 $color-6;
            }
        }
        .content {
            position: relative;
            // padding: 24px 29px 25px 30px;
            margin-right: 15px;
            flex: none;
            width: 50%;
            .days {
                margin-bottom: 12px;
                &::before {
                    content: "\f272";
                    font-family: "Font Awesome 5 Pro";
                    font-size: 18px;
                    margin-right: 10px;
                    font-weight: 300;
                }
            }
            .titles {
                font-size: 35px;
                line-height: 44px;
                font-weight: 600;
                letter-spacing: -0.7px;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 22px;
                font-weight: 500;
            }
          

        }  
    }
}

.meta {
    .btn-button {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        @include transition3;
        text-decoration: underline;
        &:hover {
            color: $color-3;
            svg {
                animation: 0.3s link-icon linear;
                path {
                    fill: $color-3;
                    
                }
            }
        }
        svg {
            margin-left: 13px;
            path {
                @include transition3
            }
        }
    }
    
    .comment {
        font-size: 18px;
        line-height: 28px;
        &::before {
            content: "\f086";
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            font-weight: 500;
            margin-right: 9px;
            margin-top: -2px;
        }
    }
}

//flat subscribe
.flat-subscribe {
    padding: 80px 0;
    background-color: $color-3;
    margin: 0 71px 10px 62px;
    box-shadow: 10px 10px 0 $color-2;
    position: relative;
    .wrap-subscribe {
        padding: 20px 75px 0 5px;
        .heading-section {
            margin-bottom: 50px;
        }
        .icon-title {
            p {
                display: flex;
                &::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border: 2px solid $color-1;
                    margin-right: 10px;
                    border-radius: 50%;
                }
            }
        }       
    }
    .images {
        padding-left: 57px;
        position: relative;
        z-index: 0;
        .mark-img {
            position: absolute;
            top: -36px;
            right: 18px;
            z-index: -1;
        }
    }
  
    .mark-1 {
        left: 79px;
        top: 97px;
    }
    .mark-2 {
        left: 98px;
        bottom: 86px;
    }    
    .mark-3 {
        right: 94px;
        bottom: 85px;
    }
    .mark-4 {
        right: 99px;
        top: 78px;
    }
    
    
}

  
/* flat Blog details
-------------------------------------------------------------- */
.flat-blog-details {
    .post {
        padding-right: 80px;
        .text-1 {
            margin-bottom: 31px;
        }
        .box-text {
            margin-bottom: 38px;
            &.style {
                margin-bottom: 68px;
            }
            &.style2 {
                margin-bottom: 32px;
                padding-bottom: 37px;
                border-bottom: 1px solid #ecedeb;
            }
        }
        .text-2 {
            margin-bottom: 26px;
        }
        .images {
            margin-bottom: 47px;
            img {
                box-shadow: 7px 7px 0 $color-3;
            } 
        }

        .title-blog {
            margin-bottom: 23px;
            letter-spacing: -0.7px;
        }

        .wrap-info {
            display: inline-block;
            padding: 13px 31px 13px 32px;
            background: $color-6; 
            box-shadow: 5px 5px 0 $color-2;
            margin-bottom: 26px;
            .box-1 {
                margin-right: 30px;
            }  
            .box-2 {
                margin-right: 36px;
            }       
            i {
                font-size: 19px;
                font-weight: 400;
                margin-right: 10px;
            }          
        }
        .post-title {
            display: inline-block;
            background-color: $bg-color;
            margin: 0 74px 38px 60px;
            padding: 25px 42px 30px 41px;
            box-shadow: 5px 5px 0 $color-2;
            h3 {
                line-height: 36px;
                margin-bottom: 15px;
            }
            h6 {
                &::before {
                    content: "";
                    width: 45px;
                    height: 2px;
                    margin-right: 15px;
                    background-color: $color-2;
                }
            }
        }
        .tags-box {
            margin-bottom: 19px;
            .title-tag {                 
                margin-right: 5px;       
            }
            a {             
                margin-right: 3px;
                &::after {
                    content: ","; 
                }
                &:last-child {
                    &::after {
                        content: unset;
                    }
                }
            }
        }
        .share-box {
            margin-bottom: 65px;
            .title-share {
                margin-right: 16px;
                margin-top: 5px;
            }
        }
        .post-image {
            margin-bottom: 60px;
            .author-box {
                background-color: $bg-color;
                border: 1px solid $color-2;
                padding: 33px 44px 30px;
                .image {
                    flex: none;
                    margin-right: 25px;
                    margin-top: 6px;
                    img {
                        border-radius: 50%;
                    }
                   
                }
                .content {
                    .sub-title {
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .widget-menu {
            padding-left: 3px;
            margin-bottom: 65px;
            .recent-news li {
                margin-bottom: 0px;
                width: 40.5%;
                flex: unset;
            }
        }
    }
}

#comments {
    .title-comment {
        margin-bottom: 25px;
    }
    .comment-list {
        margin-bottom: 60px;
        border: 1px solid $color-2;
        padding: 32px 44px 44px 40px;
        .comment-01 {
            margin-bottom: 25px;
           background-color: $bg-color;
           padding: 24px 39px 12.5px;
           box-shadow: 5px 5px 0 $color-2;
           &.style {
            margin-left: 50px;
            }   
            &:last-child {
                margin: 0;
            }
            .comment-avatar {
                flex: none;
                margin-right: 25px;
                margin-top: 5px;
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }
            .comment-content {
                &.style-3 {
                    margin-left: 30px;
                }
                .comment-author {
                    margin-bottom: 4px;
                    h5 {
                        letter-spacing: -0.4px;
                        margin-right: 11px;
                    }
                    .minute {
                        color: #616161;
                        &::before {
                            content:"\f017";
                            font-family: "Font Awesome 5 Pro";
                            font-size: 17px;
                            margin-right: 7px;
                            font-weight: 300;
                            color: $color-2;
                        }
                    }
                }
                .comment-text {
                    margin-bottom: 8px;
                }
                .reply {
                    font-size: 14px;
                    font-weight: 600;
                    color: #616161;
                    @include transition3;
                    &:hover {
                        color: var(--primary-color3);
                    }
                }
            }
          
        }
    }
    .title-comment2 {
        letter-spacing: -0.2px;
        margin-bottom: 28px;
    }
    .respond-comment {
        border: 1px solid $color-2;
        padding: 32px 44px 44px 39px;
        h3 {
            margin-bottom: 1px;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .comment-form {
        fieldset {
            position     : relative;
            width        : 100%;
            margin-bottom: 35px;

            &.email-wrap {
                padding-left: 17px;
            }
            &.name-wrap {
                padding-right: 17px;
            }
            &.message-wrap {
                margin-bottom: 28px;
            }
           
            input {
                background-color: $bg-color;
                border: 1px solid $bg-color;
                padding: 17px 14px 16px 25px;      
                color: $color-2;
                font-weight: 500;
                box-shadow: 5px 5px 0 $color-2;
                @include transition3;
                &::placeholder {
                    color: $color-2;
                    line-height: 26px;
                    font-size: 16px;
                    font-weight: 500;
                    @include transition3;
                }
                &:focus {
                    border: 1px solid $color-3;
                    background-color: $color-3;
                    color: $color-1;
                    &::placeholder {
                        color: $color-1;
                    }
                }  
            }
          
            textarea  {
                padding: 16px 15px 12px 25px;
                background-color: $bg-color;
                border: 1px solid $bg-color;
                color: $color-2;
                font-weight: 500;
                box-shadow: 5px 5px 0 $color-2;
                padding-right: 5px;
                @include transition3;
                &::placeholder {
                    color: $color-2;
                    line-height: 26px;
                    font-size: 16px;
                    font-weight: 500;
                    @include transition3;
                }
                &:focus {
                    border: 1px solid $color-3;
                    background-color: $color-3;
                    color: $color-1;
                    &::placeholder {
                        color: $color-1;
                    }
                } 
            }            
        }
        .style-text {
            width: 50%;
            float: left;
        }
        button {
            padding: 10px 46px 10px 48px;
        }
    }
}


//flat video
.flat-video {
    padding-top: 144px;
    padding-bottom: 150px;
    background: url(./../../assets/images/section/bg-video.jpg)  center center no-repeat;
    background-size: cover;
    position: relative;
    &.page {
        background: url(./../../assets/images/section/bg-video-page.jpg)  center center no-repeat;
        background-size: cover;
        border-radius: 5px;
        padding-bottom: 151px;
        .overlay {
            border-radius: 5px;
        }
        .heading-section {
            margin-bottom: 13px;
        }
    }
}

.flat-video-page {
    padding-bottom: 104px;
}

// video
.post-video {
    a {
        position: relative;
        width: 76px;
        height: 76px;
        background: $color-1;
        border-radius: 50%;
        text-align: center;
        @include flex-center;
        padding-left: 5px;
        i {
            font-size: 25px;
            color: $color-6;
            @include transition3;
        }
        &:hover {
            background: $color-3;
            i {
                color: $color-1;
            }
        }
    }
}

.ripple::before,
.ripple::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.04);
    -o-box-shadow: 0 0px 0 0px rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 0px 30px rgb(255 255 255 / 10%);
    -webkit-animation: ripple 2s infinite;
    animation: ripple 2s infinite;
}

.ripple::before {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ripple::after {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flat-icon {
    .wrap-icon {
        // margin-left: -30px;
        border-bottom: 1px solid $color-8;
    }
    .icon-box {
        width: calc(33.333% - 0px);
        // margin-left: 30px;
        @include transition3;
        .icon {
            flex: none;
            margin-right: 18px;
            margin-top: 1px;
        }
        .content {
            .sub-title {
                margin-bottom: 5px;
            }
            h3 {
                letter-spacing: -0.7px;
            }
        }
       
        &.box-1 { 
            padding: 83px 10px 79px 10px;
        }
        &.box-2 {
            border-left: 1px solid $color-8;
            border-right: 1px solid $color-8;
            padding: 83px 20px 79px 24px;
            background: url(./../../assets/images/mark/mark-icon.png)  center center no-repeat;
        }
        &.box-3 { 
            padding: 83px 0px 79px 0px;
        }
        &:hover {
            background: url(./../../assets/images/mark/mark-icon.png)  center center no-repeat;

        }
    }
}

.flat-services {
    background: url(./../../assets/images/mark/mark-service2.png)  center center no-repeat;
    padding-bottom: 120px;
    .heading-section2 {
        padding: 0 240px;
        margin-bottom: 39px;
    }
    .box {
        background: $color-1;
        padding: 39px 45px;
        box-shadow: 0px 10px 60px rgba(92, 40, 202, 0.07);
        border-radius: 10px;
        margin-bottom: 30px;
        .icon {
            margin-bottom: 31px;
        }
        .content {
            h4 {
                margin-bottom: 14px;
            }
            p {
                margin-bottom: 27px;
            }
        }
        &.box-1 {
            margin-top: 10px;       
        }
        &.box-2 {
            margin-top: 30px;  
        }
        &.box-4 {
            margin-top: 20px;  
        }
    }
}

.flat-process {
    padding-bottom: 87px;
    .wrap-process {
        padding-left: 66px;
    }
    .box-process {
        width: 57.3%;
        background: url(./../../assets/images/section/bg-diagram.jpg)  center center no-repeat;
        background-size: cover;
        padding: 80px 75px;
        flex: none;
        .heading-section2 {
            padding-right: 300px;
            h6 {
                margin-bottom: 22px;
            }
        }
        .diagram-box {
            padding-left: 6px;
            position: relative;
            .mark-diagram {
                left: -75px;
                top: 35px;
            }
        }
        .diagram {
            width: 245px;
            margin-right: 50px;
            z-index: 3;
            .icon {
                width: 80px;
                height: 80px;
                @include flex-center;
                border: 1px solid $color-8;
                background-color: $color-1;
                border-radius: 50%;
                display: inline-flex;
                margin-bottom: 20px;
            }
            .content {
                background-color: $color-1;
                border-radius: 12px;
                padding: 25px 15px 20px;
                .sub-title {
                    letter-spacing: 2.8px;
                    color: $color-9;
                    margin-bottom: 6px;
                }
                h6 {
                    line-height: 23px;
                    padding: 0 14px;
                    margin-bottom: 5px;
                }
            }
            &.two {
                margin-top: 61px;
            }
            &.three {
                margin-top: 5px;
            }
        }
    }
    .box-client {
        padding: 35px 75px;
        h6 {
            margin-bottom: 6px;
        }
        h3 {
            letter-spacing: -0.7px;
            margin-bottom: 30px;
        }
        ul li {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            margin-right: -24px;
            overflow: hidden;
            @include transition3;
            &.style {
                background-color: $color-7;
                @include flex-center;
                font-size: 22px;
                color: $color-1;
                z-index: 1;
                cursor: pointer;
            }
            &:hover {
                z-index: 5;
            }
        }
        .images {
            position: absolute;
            bottom: -87px;
            right: 76px;
            z-index: -1;
        }
    }
}

.flat-growing {
    border-bottom: 1px solid $color-8;
    padding-bottom: 0;

    .wrap-growing {
      
        .box-images {
            width: 50%;
            border-right: 1.5px solid $color-8;
            // background: url(./../../assets/images/mark/growing-1.png)  center center no-repeat;
            background-size: cover;
            .images {
                margin-left: -157px;
                background: url(./../../assets/images/mark/growing-1.png) center no-repeat;
                padding: 130px 0px;
            }
        }
        .box-growing {
            width: 50%;
            padding: 212px 0px 0 101px;
            .heading-section2 {
                margin-bottom: 0;
                h6 {
                    margin-bottom: 22px;
                }
                h2 {
                    margin-bottom: 22px;
                }
                p {
                    margin-bottom: 40px;
                }
            }
        }
     
    }
}

.flat-projects {
    .box {
        .image-box {
            position: relative;
            .images {
                padding-top: 46px;
            }
            .content {
                background: $color-8;
                position: absolute;
                top: 0;
                width: 294px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 12px;
                padding: 15px 10px;
                h3 {
                    letter-spacing: -0.9px;
                    margin-bottom: 6px;
                }
                .btn-button {
                    justify-content: center;
                    color: $color-1 !important;
                }
            }
        }
       
        &.style {
            .image-box {
                .images {
                    padding-top: 0px;
                }
                .content {
                    bottom: -46px;
                    top: unset;
                }
            }
           
        }
    }
}

.flat-partners {
    background: linear-gradient(180deg, rgba(92, 40, 202, 0.07) 0%, rgba(244, 63, 226, 0.07) 104.02%);

    .wrap-partners {
        .box-partners {
            flex: none;
            padding-left: 307px;
            width: 44%;
            .heading-section2 {
                margin-bottom: 0;
                h2 {
                    margin-bottom: 23px;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
        .box-images {
            
            .image {
                width: 352px;
                height: 130px;
                @include flex-center;
                background: $color-1;
                border-radius: 5px;
                margin-right: 30px;
                margin-bottom: 30px;
            }
        }
    }

}