
$font-1:'Outfit', sans-serif;
$font-2:'Manrope', sans-serif;

$color-1: #fff;
$color-2: #120A21;
$color-3: #8B54FF;
$color-4: #617798;
$color-5: #00234B;
$color-6: #45ab49;
$color-7: #f1f1f1;
$bg-color: #f3f6f0;
$bg-h2: #180D45;
$color-h2: #FABE3C;
